@import "variables";
@import 'reset';
@import "grid";
%container {
  width: 100%;
  padding: 3% 5%;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: #fff;
}
%border {
  border-top: 4px solid #4285f4;
  margin-top: 50px;
  padding-top:50px;
}
//Header
.header {
  @extend %container;
  @extend %flex;
  flex-flow: wrap;
  padding-top: 4rem;
  img {
    width: auto;
  }
  &__logo {
    @extend %flex;
    padding-bottom: 1rem;
  }
  &__search img{
    float: right;
  }
  &__navigation {
    @extend %flex;
    li {
      display: inline-block;
      margin-right: 40px;
    }
    a{
      color: #414549;
    }
  }
}
//Main Content
.content {
  @extend %container;
  margin-top: 170px;
}
//Home
.home {
  @extend %flex;
  flex-flow: column wrap;
  &__text {
    align-self: flex-start;
  }
}

//Newsfeed
.newsfeed {
  @extend %border;
  &__header {
    @extend %flex;
    margin-bottom: 1.2rem;
    justify-content: space-between;
    a {
      float: right;
      color: #4285f4;
    }
  }
  &__featured {
    @extend %flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .block {
    margin-bottom: 40px;
    &__text a {
      color: #4285f4;
    }
  }
  .newsletter {
    @extend %flex;
    padding: 21px;
    background-color: #f1f3f4;
  }
}

//Library

.library {
  @extend %flex;
  @extend %border;
  flex-flow: wrap;
  align-items: flex-start;
  &__item {
    margin-bottom: 70px;
  }
  &__item span{
    img{
      width: auto;
    }
  }
  &__item div{
    img{
      width: 48px;
    }
  }
  &__quote div{
    @extend %flex;
    justify-content: flex-start;
    img{
      width: 48px;
      border-radius: 50%;
    }
  }
  &__quote {
    @extend %border;
    margin: 0;
  }
}

//Collection
.collection {
  @extend %border;
  &__row {
    @extend %flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
//Social media
.social-media {
  @extend %border;
}

//Footer About
.footer {
  @extend %container;
  &__about{
    @extend %border;
    @extend %flex;
    align-items: flex-start;
    color: #414549;
    h4 {
      margin-bottom: 14px;
    }
    a {
      color: #414549;
    }
    .connect {
      @extend %flex;
      flex-flow: column wrap;
      height: 150px;
    }
  }
  &__secondary {
    @extend %flex;
    height: 146px;
    box-shadow: 0 -0.1875rem 0.125rem #efefef;
    img {
      width: 32px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    &__logo img{
      width: 80%;
    }
    &__navigation {
      display: none;
    }
  }
  .content {
    margin-top: 130px;
  }
}
