@import "variables";
@import 'reset';
@import "grid";
.container {
  width: 100%;
  padding: 3% 5%;
}
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
%border {
  border-top: 4px solid #4285f4;
  margin-top: 50px;
  padding-top:50px;
}
//Header
.header {
  @extend %flex;
  flex-flow: wrap;
  padding-top: 4rem;
  img {
    width: auto;
  }
  &__logo {
    @extend %flex;
    padding-bottom: 1rem;
  }
  &__search img{
    float: right;
  }
  &__navigation {
    @extend %flex;
    li {
      display: inline-block;
      margin-right: 40px;
    }
    a{
      color: #414549;
    }
  }
}
//Home
.home {
  @extend %flex;
  flex-flow: column wrap;
  &__text {
    align-self: flex-start;
  }
}

//Newsfeed
.newsfeed {
  @extend %border;
  &__header {
    @extend %flex;
    margin-bottom: 1.2rem;
    a {
      float: right;
      color: #4285f4;
    }
  }
  &__featured {
    @extend %flex;
    align-items: flex-start;
  }
  .block {
    margin-bottom: 40px;
    &__text a {
      color: #4285f4;
    }
  }
  .newsletter {
    @extend %flex;
    padding: 21px;
    background-color: #f1f3f4;
  }
}

//Library

.library {
  @extend %flex;
  @extend %border;
  flex-flow: wrap;
  align-items: flex-start;
  &__item {
    margin-bottom: 70px;
  }
  &__item span{
    img{
      width: auto;
    }
  }
  &__item div{
    img{
      width: 48px;
    }
  }
  &__quote div{
    @extend %flex;
    justify-content: flex-start;
    img{
      width: 48px;
      border-radius: 50%;
    }
  }
  &__quote {
    @extend %border;
    margin: 0;
  }
}

//Collection
.collection {
  @extend %border;
  &__row {
    @extend %flex;
    align-items: flex-start;
  }
}
//Social media
.social-media {
  @extend %border;
}




